asgiref==3.8.1
autopep8==2.0.1
distlib==0.3.6
dj-database-url==2.3.0
Django==5.1.4
filelock==3.9.0
Markdown==3.4.1
markdown2==2.4.8
pbr==5.11.1
platformdirs==2.6.2
pycodestyle==2.10.0
sqlparse==0.4.3
stevedore==4.1.1
typing_extensions==4.12.2
virtualenv==20.17.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
