{% extends 'base.html' %}
{% block body %}
<div>
    <div class="flex justify-between">
  <div>
    <h1 class="text-xl capitalize">{{ goal.title}}</h1>
    <span class="text-gray-500">Created: {{ goal.created_at }}</span>
  </div>
  <div>
    <a href="{%url 'editGoal' goal.id %}" class="bg-blue-600 text-white px-2 py-1 rounded-sm"><i class="fa-regular fa-pen-to-square mr-1"></i>Edit</a>
    <a href="{% url "deleteGoal" goal.id %}" class="bg-red-600 text-white px-2 py-1 rounded-sm"><i class="fa-regular fa-trash-can mr-1"></i>Delete</a>
  </div>
</div>

  {% comment %} {% if activity.updated_at > activity.created_at %}
  <div>Updated: {{ activity.updated_at }}</div>
  {% endif %} {% endcomment %}
  <hr class="my-2" />
  <div>
    Description:<br />
    {{ goal.description}}
  </div>
</div>
{% endblock body %}
