{% extends 'base.html' %}
{% block body %}
<div>
  <div class="flex justify-between">
  <div class="mr-5">
    <h1 class="capitalize text-3xl text-gray-700">Goal: <span class="text-blue-700"> {{ goal.title }} </span></h1>
    <span class="text-gray-500">Created: {{ goal.created_at }}</span><br>
    {% if goal.status == 'Achieved' %} 
    <i class="fa-solid fa-crown bg-green-700 text-white py-2 px-3 mr-1 rounded-sm my-3"></i><span class="text-gray-900 text-lg">Achieved: {{ goal.achieved_at }}</span>
    {% endif %}
  </div>
  <div class="w-24 flex justify-end items-start">
    <a href="{%url 'editGoal' goal.id %}" class="w-8 bg-yellow-500 text-white px-2 py-1 rounded-sm mr-3 transform transition delay-100 ease-in-out hover:scale-110" title="Edit"><i class="fa-regular fa-pen-to-square"></i></a>
    <a href="{% url "deleteGoal" goal.id %}" class="w-8 bg-red-600 text-white px-2 py-1 rounded-sm text-center transform transition delay-100 ease-in-out hover:scale-110" title="Delete"><i class="fa-regular fa-trash-can"></i></a>
  </div>
</div>

  {% if activity.updated_at > activity.created_at %}
  <div>Updated: {{ activity.updated_at }}</div>
  {% endif %}
  {% if goal.status != 'Achieved' %} 
  <form method="post" action="{% url 'mark_goal_completed' goal.id %}" class="bg-green-600 rounded-sm text-center mt-3 mb-5 transform transition delay-100 ease-in-out hover:scale-105 hover:bg-green-700">
    {% csrf_token %}
    <button type="submit" class="text-white w-full px-2 py-1">
        <i class="fa-regular fa-check-circle mr-1"></i>Mark As Goal Achieved
    </button>
</form>
  {% endif %}

  <hr class="my-2" />
  <div>
    Description:<br />
    {{ goal.description}}
  </div>
  <hr class="my-5">
  <a href="{% url 'goals' %}" class="w-8 bg-blue-600 text-white p-2 rounded-sm mt-5 transform transition delay-100 ease-in-out hover:scale-110 hover:bg-blue-700" title="Back">Back to Goals</a>
</div>
{% endblock body %}
