{% extends 'base.html' %}

{% block body %}
<div>
    <div class="flex justify-between items-center flex-wrap mb-5">
        <h1 class="text-blue-700 text-3xl">Goals:</h1>
        <div class="flex justify-end items-center flex-wrap mb-5">
            {% for category in categories %}
                <div class="flex items-center px-1">
                    <span class="w-3 h-3 rounded-2xl" style="background-color: 
                        {% if category.0 == 'professional' %}#3498db
                        {% elif category.0 == 'personal' %}#27ae60
                        {% elif category.0 == 'development' %}#f39c12
                        {% elif category.0 == 'faith' %}#e74c3c
                        {% elif category.0 == 'financial' %}#f1c40f
                        {% endif %};">
                    </span>
                    <span class="text-gray-500 text-xs ml-1">{{ category.1|title }}</span>
                </div>
            {% endfor %}
        </div>
    </div>

    <a href="{% url 'addGoal' %}" class="text-lg mr-0 bg-blue-600 text-white p-2 rounded-md">New Goal</a>
    <div class="my-5 h-64 grid grid-cols-2 gap-5">
        {% for goal in goals %}
            <div class="shadow-lg bg-gray-100 border-l-8 rounded-md" style="border-left-color: 
                {% if goal.category == 'professional' %}#3498db
                {% elif goal.category == 'personal' %}#27ae60
                {% elif goal.category == 'development' %}#f39c12
                {% elif goal.category == 'faith' %}#e74c3c
                {% elif goal.category == 'financial' %}#f1c40f
                {% endif %};">
                <a href="{% url 'goal' goal.id %}" class="flex justify-between flex-col p-3">
                    <h3 class="text-md capitalize text-blue-950 font-bold">{{ goal.title }}</h3>
                    <p class="text-sm">Target Date: <span class="text-gray-700 italic">{{ goal.target_date }}</span></p>
                    
                    <!-- Display dots based on the total number of activities -->
                    {% for activity in activities_by_goal %}
                        {% if activity.linked_goal__id == goal.id %}
                            <div class="flex flex-wrap">
                            Activities logged: {{activity.total}}
                            {% for dot in ""|rjust:activity.total %}
                            {{activity.total}}
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}
