{% extends 'dashboard/layout.html' %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body %}
    <canvas id="goalCategoriesChart" width="800" height="400"></canvas>
    <canvas id="activitiesByGoalsChart" width="800" height="400"></canvas>

<div class="container">
    <h2>Activities by Category</h2>
    <div class="">
       Categories: {{ total_categories }}
       total goals by category: 
       <ul>
        {% for item in goals_by_category %}
        <li>{{ item.category }}: {{item.total}}</li>
        {% endfor %}
       </ul>
       <hr>
       <h2>Total Activities by Category:</h2>
        <ul>
            {% for item in activities_by_category %}
            <li>{{ item.linked_goal__category }}: {{ item.total }}</li>
            {% endfor %}
        </ul>
        <hr>
        <h2>Total Activities by Goal:</h2>
        <ul>
            {% for item in activities_by_goal %}
            <li>
                {{ item.linked_goal__title }} - Total Activities: {{ item.total }}
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
<script>
    // Desired category colors
    const categoryColors = {
        'professional': '#3498db',
        'personal': '#27ae60',
        'development': '#f39c12',
        'faith': '#e74c3c',
        'charity': '#f1c40f',
    };

    // Goals by Categories Chart
    const goalCategories = [{% for item in goals_by_category %}"{{ item.category }}",{% endfor %}];
    const goalCounts = [{% for item in goals_by_category %}{{ item.total }},{% endfor %}];
    const goalColors = goalCategories.map(category => categoryColors[category]);  // Assign colors based on category

    const goalCategoriesChart = document.getElementById('goalCategoriesChart').getContext('2d');
    const goalsByCategoriesChart = new Chart(goalCategoriesChart, {
        type: 'bar',
        data: {
            labels: goalCategories,
            datasets: [{
                label: 'Total Goals',
                data: goalCounts,
                backgroundColor: goalColors,  // Use assigned colors
                borderColor: goalColors,  // Use assigned colors
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const activityGoals = [
    {% for item in activities_by_goal %}
    {
        name: "{{ item.linked_goal__title }}",
        count: {{ item.total }},
        category: "{{ item.linked_goal__category }}",
    },
    {% endfor %}
];

// Activities by Goals Chart
const goalTitles = activityGoals.map(function(goal) { return goal.name; });
const activityCounts = activityGoals.map(function(goal) { return goal.count; });
const goalColorsMap = activityGoals.map(function(goal) { return categoryColors[goal.category]; });

const activitiesByGoalsChart = document.getElementById('activitiesByGoalsChart').getContext('2d');
const activitiesByGoals = new Chart(activitiesByGoalsChart, {
    type: 'bar',
    data: {
        labels: goalTitles,
        datasets: [{
            label: 'Total Activities',
            data: activityCounts,
            backgroundColor: goalColorsMap,  // Use assigned colors
            borderColor: goalColorsMap,  // Use assigned colors
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>



{% endblock %}