{% extends 'base.html' %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block body %}
<div>
{% if quote_data %}
    {% with quote=quote_data.0 %}
        <blockquote class="bg-blue-200 p-2 rounded-md text-center" cite="https://zenquotes.io/">
            <p class="italic font-bold">{{ quote.q }}</p>
            <footer class="text-sm text-gray-800">—{{ quote.a }}</footer>
          </blockquote>
    {% endwith %}
{% endif %}
    <div class="my-8 text-center">
        <h1 class="text-2xl mb-6">
            <span class="italic text-blue-800 font-bold capitalize">{{ user.username }}</span>, Welcome to your Daily tracker! 
        </h1>
        <p class="font-semibold text-lg">Today is the day, and now is the time</p> 
        <p>Track of your <a href="{% url 'addGoal' %}" class="italic hover:text-blue-800">Goals</a> and <a href="{% url 'addActivity' %}" class="italic hover:text-blue-800">Activities</a> to make your goals a reality.</p>
        <div class="my-4 flex md:flex-row">
            <a href="{% url 'addGoal' %}" class="ml-3 text-lg mr-0 bg-blue-600 text-white px-2 py-1 rounded-md"><i class="fa-solid fa-bullseye"></i> New Goal</a>
            <a href="{% url 'addActivity' %}" class="ml-3 text-lg mr-0 bg-blue-600 text-white px-2 py-1 rounded-md"><i class="fa-solid fa-briefcase"></i> New Activity</a>
        </div>
    </div>
    <hr>
    <div class="md:flex md:flex-wrap w-full overflow-x-auto">
        <div class="w-full lg:w-1/2" style="min-width: 300px; overflow: auto">
            <h2 class="text-blue-700 text-3xl">Total Goals by Category</h2>
            <canvas class="h-fit" id="goalCategoriesChart" width="800" height="400"></canvas>
        </div>
        <div class="w-full lg:w-1/2" style="min-width: 300px; overflow: auto">
            <h2 class="text-blue-700 text-3xl">Total Activities by Goal:</h2>
            <canvas class="h-fit" id="activitiesByGoalsChart" width="800" height="400"></canvas>
        </div>
    </div>
</div>
<script>
    // category colors
    const categoryColors = {
        'professional': '#3498db',
        'personal': '#27ae60',
        'development': '#f39c12',
        'faith': '#e74c3c',
        'financial': '#f1c40f',
    };

    // Goals by Categories Chart
    const goalCategories = [{% for item in goals_by_category %}"{{ item.category }}",{% endfor %}];
    const goalCounts = [{% for item in goals_by_category %}{{ item.total }},{% endfor %}];
    const goalColors = goalCategories.map(category => categoryColors[category]);  // Assign colors based on category

    const goalCategoriesChart = document.getElementById('goalCategoriesChart').getContext('2d');
    const goalsByCategoriesChart = new Chart(goalCategoriesChart, {
        type: 'bar',
        data: {
            labels: goalCategories,
            datasets: [{
                label: 'Total Goals',
                data: goalCounts,
                backgroundColor: goalColors,  // Use assigned colors
                borderColor: goalColors,  // Use assigned colors
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const activityGoals = [
        {% for item in activities_by_goal %}
        {
            name: "{{ item.linked_goal__title }}",
            count: {{ item.total }},
            category: "{{ item.linked_goal__category }}",
        },
        {% endfor %}
    ];

    // Activities by Goals Chart
    const goalTitles = activityGoals.map(function(goal) { return goal.name; });
    const activityCounts = activityGoals.map(function(goal) { return goal.count; });
    const goalColorsMap = activityGoals.map(function(goal) { return categoryColors[goal.category]; }); // Use category for color mapping

    const activitiesByGoalsChart = document.getElementById('activitiesByGoalsChart').getContext('2d');
    const activitiesByGoals = new Chart(activitiesByGoalsChart, {
    type: 'bar',
    data: {
        labels: goalTitles,
        datasets: [{
            label: 'Total Activities',
            data: activityCounts,
            backgroundColor: goalColorsMap,
            borderColor: goalColorsMap,  
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
    });
</script>
{% endblock body %}
