{% extends 'base.html' %}

{% block auth %}

    <h2 class='my-3'>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="my-3">
            <input autofocus class="" type="text" name="username" placeholder="Username">
        </div>
        <div class="my-3">
            <input class="" type="password" name="password" placeholder="Password">
        </div>
        <input class="bg-blue-300 w-full mb-3 py-1 px-3 rounded-sm" type="submit" value="Login">
    </form>

    Don't have an account? <a href="{% url 'register' %}" class="text-gray-500 hover:underline">Register here.</a>

{% endblock %}