{% extends 'dashboard/layout.html' %} 

{% block body %}
<div>
    <div class="flex justify-between flex-wrap mb-5">
        <h1 class="pl-5 text-blue-700 text-3xl">Activities:</h1>
    </div>
  <div class="flex justify-end items-center flex-wrap mb-5">
    <h1>TESTING TESTING TESTING</h1>
    {% for category in categories %}
    <div class="flex items-center px-1">
      <span
        class="w-3 h-3 rounded-2xl"
        style="background-color: 
                    {% if category.0 == 'professional' %}#3498db
                    {% elif category.0 == 'personal' %}#27ae60
                    {% elif category.0 == 'development' %}#f39c12
                    {% elif category.0 == 'faith' %}#e74c3c
                    {% elif category.0 == 'charity' %}#f1c40f
                    {% endif %};"
      >
      </span>
      <span class="text-gray-500 text-xs ml-1">{{ category.1|title }}</span>
    </div>
    {% endfor %}
  </div>
  <div class="my-auto">
    {% if activities %}
        {% for activity in activities %} 
        {% with linked_goal=activity.linked_goal %}
            <div
            class="py-1 mt-5 px-2 shadow-lg border-l-4 rounded-md"
            style="border-left-color: 
            {% if linked_goal.category == 'professional' %}#3498db
            {% elif linked_goal.category == 'personal' %}#27ae60
            {% elif linked_goal.category == 'development' %}#f39c12
            {% elif linked_goal.category == 'faith' %}#e74c3c
            {% elif linked_goal.category == 'charity' %}#f1c40f
            {% endif %};"
        >
            <a href="{% url 'activity' activity.id %}" class="flex justify-between">
                <span>{{ activity.title }}</span>
                <span>{{ activity.created_at }}</span>
            </a>
        </div>
        {% endwith %} 
        {% endfor %}
    {% else %}
        <p>No records at this time</p>
    {% endif %}
</div>
</div>
{% endblock body %}
