{% extends "dashboard/layout.html" %}

{% block auth %}

    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="my-3">
            <input class="" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="my-3">
            <input class="" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="my-3">
            <input class="" type="password" name="password" placeholder="Password">
        </div>
        <div class="my-3">
            <input class="" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="bg-blue-300 w-full mb-3 py-1 px-3 rounded-sm" type="submit" value="Register">
    </form>

    Already have an account? <a href="{% url 'login' %}" class="text-gray-500 hover:underline">Log In here.</a>

{% endblock %}