{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}My Goal Tracker{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		{% tailwind_css %}
		<link rel="stylesheet" href="{% static 'css/dist/styles.min.css' %}" />
		{% block script %}{% endblock %}
	</head>
	<body>
		<div class="mx-auto">
		  <nav class="flex justify-between items-center px-3 w-full flex-wrap h-20">
			<div>
				<a href="/" class="text-2xl">My Goal Tracker</a>
			</div>
			
			{% if user.is_authenticated %}
			<div class="flex items-center">
			  <p class="mr-3">
				Signed in as <strong>{{ user.username }}</strong>.
			  </p>
			  <a class="ml-3 text-lg mr-0 bg-red-600 text-white py-1 px-2 rounded-md hover:bg-red-700" href="{% url 'logout' %}">Log Out</a>
			</div>
			{% else %}
			<div>
			  <a class="mr-2" href="{% url 'login' %}">Log In</a>
			  <a class="ml-2" href="{% url 'register' %}">Register</a>
			</div>
			{% endif %}
		  </nav>
		  <hr />
		  {% if user.is_authenticated %}
		  <div class="flex">
			<nav id="navbar" class="w-[150px] relative min-h-screen p-3 hidden flex-col bg-gray-200">
			  <a href="{% url 'index' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">Dashboard</a>
			  <a href="{% url 'goals' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">Goals</a>
			  <a href="{% url 'activities' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">Activities</a>
			  <a href="{% url 'addGoal' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">New goal</a>
			  <a href="{% url 'addActivity' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">New Activity</a>
			  <a href="{% url 'generate_pdf_report' %}" class="text-blue-700 hover:text-blue-900 hover:border-b-2 transition ease-in-out delay-150 hover:border-blue-600 w-fit mb-2 pb-1">Get Report</a>
			</nav>
			<button id="show-nav" class="bg-gray-300 rounded-r-xl fixed bottom-0 z-50 shadow-lg left-0 h-10 pt-2 pb-3 px-3 mt-3"></button>
			<div id="main-wrapper" class="md:w-4/5 mx-auto py-8 px-2">
				{% if quote_data %}
					{% with quote=quote_data.0 %}
						<blockquote class="bg-blue-200 mb-6 p-2 rounded-md text-center" cite="https://zenquotes.io/">
							<p class="italic font-bold">{{ quote.q }}</p>
							<footer class="text-sm text-gray-800">—{{ quote.a }}</footer>
						</blockquote>
					{% endwith %}
				{% endif %}
				<main>{% block body %} {% endblock %}</main>
			</div>
		  </div>
		  {% else %}
		  <div class="flex flex-col justify-center items-center min-h-screen">
			<h3>Ready to start tracking your progress today? 
			  {% block auth %} {% endblock %}
		  {% endif %}
		  </div>
		</div>
		<script>
			const showNavButton = document.getElementById('show-nav')
			const navbar = document.getElementById('navbar')
			const mainWrapper = document.getElementById('main-wrapper')
			let navOpen = true

			navbar.style.display = 'flex'
			mainWrapper.classList.add('w-3/4', 'md:w-4/5')

			const arrow = document.createElement('i')
			arrow.classList.add('fa-solid', 'fa-angles-left')
			showNavButton.append(arrow)

			showNavButton.addEventListener('click', function() {
				if (navOpen !== true) {
					navOpen = true
					arrow.className = ""
					mainWrapper.classList.add('w-3/4')
					arrow.classList.add('fa-solid', 'fa-angles-left')
					navbar.style.display = 'flex'
				} else {
					navOpen = false
					arrow.className = ""
					mainWrapper.classname = ""
					arrow.classList.add('fa-solid', 'fa-angles-right')
					navbar.style.display = 'none'
					mainWrapper.classList.add('w-11/12', 'pl-4', 'flex-col', 'justify-center', 'items-center')
				}
			})
		</script>
	  </body>
</html>