{% extends 'base.html' %}
{% block body %}
<div class="w-100 flex justify-between">
    <h1 class="pl-5 text-blue-700 text-3xl">Edit Activity</h1>
    <a href="{% url 'activity' activity.id %}" class=" text-red-600 py-2 px-4 rounded cursor-pointer hover:underline"><i class="fa-solid fa-xmark fa-2xl"></i></a>
</div>

    <div class="p-5">
        <form method="post" action="{% url 'editActivity' activity.id %}">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Save Changes" class="bg-blue-600 text-white py-2 px-4 rounded cursor-pointer hover:bg-blue-700">
            <a href="{% url 'activity' activity.id %}" class=" text-blue-900 py-2 px-4 rounded cursor-pointer hover:underline">Cancel</a>
        </form>
    </div>
{% endblock body %}
